@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Jost', sans-serif;
}

/* ========= MAIN LAYOUT ========= */

.main-parent {
  
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.parent {
  border: 2px solid #e0e0e0;;
  width: 42vw;
  position: relative;  
  overflow: hidden; 
  padding:5px

}

/* ========= HEADER COMPONENT ========= */

.Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;            
  background-color: #034EA2;
  color: white;
  font-size: 18px;
  height: 68px;
  display: flex;
  align-items: center;
  font-family: Jost, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  z-index: 1000;
      font-weight: 550;
}

.HeaderChild {
  position: relative;
  left: 30px;
}

/* ========= HOME PAGE ========= */

.HomePage {
  width: 100%;
  min-height: 100vh;
  padding-top: 64px;  
    
}

/* ========= FLOATING BUTTON ========= */

.HomePageButton {
  position: absolute;   
  bottom: 30px;
  right: 20px;

  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #034EA2;
  color: white;
  border: none;
  cursor: pointer;
  
}

/* ========= SEARCH BAR ========= */

.SearchBar {
  display: flex;
  justify-content: center;
   padding:10px;
   
}

.SearchBar-child {
  border: 2px solid  #e0e0e0;
  width: 98%;
  height: 3em;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  border-radius: 5px;
  margin-top: 5px;
 overflow: hidden;
}

.SearchBar-child input {
  border: none;
  outline: none;
}

.Search-icon {
  color: #034EA2;
  font-size: 15px;
  font-weight: 900;

}






/* ========= TASK DASHBOARD ========= */

.TaskDashBoard {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  padding:10px;
  
}

.TaskDashBoard-child {
  width: 98%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  cursor: pointer;
 
}

.individual {
  display: flex;
  border: 2px solid #F3F6F9;
  height: 2.8em;
  align-items: center;
  padding-left: 12px;
  /* overflow: hidden; */
  background-color: #F3F6F9;
    justify-content: space-between;
    font-size: smaller;
     opacity:0.8;
     
}



.dash-arrow {
  transition: transform 0.3s ease;

  transform:rotate(180deg);
  color:#034EA2;
  position:relative;
  right:10px
}

/* rotate arrow when section open */
.dash-arrow.rotate {
  transform: rotate(360deg);
  color:#034EA2;
  right:10px
}


/*********** TASKLIST  **************/

.Task-Item {
  border-bottom: 1px solid #e0e0e0;
  padding: 12px;
  display: flex;
  gap: 12px;
  border-radius: 8px;
  background-color: #fff;
}

/* Profile Circle */
.Individual-Task-Profile {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border:1px solid #034EA2;;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Right Side */
.task-items {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

/* Title Section */
.Individual-Task-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
   
}

.task-title {
  color: #034EA2;
  font-weight: 600;
  font-size: 1rem;
}

.task-desc {
  font-size: 0.85rem;
  color: #555;
}

.task-date {
  font-size: 0.75rem;
  color: #888;
}

/* Status */
.Individual-Task-Status {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.85rem;
 
}

.status.pending {
  color: gray;
}

.icons{

position: absolute;
right:0px;
bottom:0px;


}
.icons i{
  padding-left: 1em;
}
.icons {
  display: flex;
  align-items: center;  
  gap: 8px;
}

.icon {
  display: block;
}

/*************** ADD TASK ***************/

.AddTasks{
  margin-top: 90px;
  width: 98%;
  display:flex;
  flex-direction: column;
  padding:20px;
row-gap: 18px;

}

.AddTasks textarea{
 border-radius: 5px;
 padding-left: 4px;
 padding-top: 10px; 
 border: 1px solid #ccc;
 white-space:pre;
}

 .addTextArea:focus {
  border:2px solid blue;
  outline: none;
}

.AddTasks input{
 border-radius: 5px;
 height:4em;
 padding-left: 4px;
 border: 1px solid #ccc;
}

 .addInput:focus {
  border:2px solid blue;
  outline: none;
}


.Buttons{
  /* border:2px solid black; */
display: flex;
justify-content: space-between;
}

.ButtonAdd{
height:3em;
width:8em;
background-color: #034EA2;
border-radius: 4px;
border:none;
cursor: pointer;
color:white;


}

.ButtonCancel{
height:3em;
width:8em;
background-color: white;
border-radius: 4px;
border:1px solid blue;
cursor: pointer;
}


/*************  Edit page   ***************/
.dropdown-wrapper {
  position: relative;
  width: 100%;
 
}

.DropDown {
  border: 2px solid rgb(202, 192, 192);
  height: 3em;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  cursor: pointer;
  background: white;
   border-radius: 5px;
}

.DropDown .drop{
  align-self: center;
 margin-left: auto;

}

/* ONE container for all options */
.statusOptionParent {
  position: absolute;
  top: 4rem;
  width: 100%;
  border: 2px solid rgb(202, 192, 192);
  background: white;
  z-index: 10;
  border-radius: 5px;
}

.status-option {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.status-option:hover {
  background-color: #f2f2f2;
}


.EditIconColor{
  height:10px;
  width:10px;
  border-radius: 50%;
  border:0px solid none;


}
.green{
background-color: #368A04;

}
.yellow{
background-color: #FFB03C;


}
.gray{
background-color: #D0D0D0;

}

.DropDown i{
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}


.arrowbhai{
position: relative;
left:15px
}



/* ADD button states */
.disabledBtn {
  background-color: #94a3b8;
  cursor: not-allowed;
}

.activeBtn {
  background-color: #034EA2;
  cursor: pointer;
}

/* Title input error */
.inputError {
  border: 2px solid red !important;
}

/* Normal input */
.addInput {
  border: 2px solid #ccc;
  outline: none;
}



.no-task{
  font-size: 13px;
  display: flex;
  justify-content: center;
  opacity: 0.9;
  padding:10px;
  font-weight:40px;
}
